<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Topify
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<section class="section">
			<div class="container"> {% block body %}{% endblock %}
				</div>
			</section>
			<footer class="footer">
				<div class="content has-text-centered">
					<p>
						<strong>Topify</strong>
						by
						<a href="https://x.com/yannkb_">Yannou with ❤️</a>
					</p>
				</div>
			</footer>
		</body>
	</html>
